.modelos__image--size{
    width: 230px;
    height: 260px;
}
.configuracion__image--size{
    width: 386px;
    height: 217px;
}

.asistente__image--size{
    width: 200px;
    height: 260px;
}

.descubra-porsche__image--size{
    width: 289px;
    height: 216px;
}

.comunidad__image--size{
    width:100px;
    height:100px;
}

.presentacion__image--size{
    width:100%;
    height:600px;
}


