.modelos__image{
    width: 230px;
    height: 260px;
}
.configuracion__image{
    width: 386px;
    height: 217px;
}

.asistente__image{
    width: 230px;
    height: 260px;
}

.descubra-porsche__image{
    width: 289px;
    height: 216px;
}


