.grid{
    display: grid;

}


@for $i from 1 through 9{
    .grid__area#{$i}{
        grid-area: area+$i;
    }
}

 @for $i from 2 through 5{
    .grid--#{$i}col{
        
         grid-template-columns: repeat($i,1fr);
        
    }
 }

 

.grid--comunidad{
    
    grid-template-areas:
        'area1 area1 area2 area3 area4 area4'
        'area1 area1 area5 area5 area4 area4'
        'area6 area7 area5 area5 area8 area9';
        
        grid-template-columns: 150px 150px 150px 150px 150px 150px;
        grid-template-rows: 150px 150px 150px;
        grid-gap: 0px;


}

